---
import Thumbnail from '@components/blog/Thumbnail.astro'
import Typography from '@components/Typography'
import BaseLayout from '@layouts/base.astro'
import { getArticles } from '@util/devto/articles'
import bg1 from '@assets/bg1.svg'

const articles = await getArticles()
---

<BaseLayout>
  <section class="relative">
    <img src={bg1} alt="" class="absolute top-0 right-0" />
    <div class="container mx-auto pt-32 pb-16 flex flex-col items-center">
      <Typography variant="display" tag="h1">Blog</Typography>
    </div>
  </section>
  <section>
    <div class="container mx-auto py-16">
      <div
        class="grid gap-8 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 items-stretch"
      >
        {articles.map((article) => <Thumbnail article={article} />)}
      </div>
    </div>
  </section>
</BaseLayout>
