---
import BaseLayout from '@layouts/base.astro'
---
<BaseLayout>
	<section id="home">
		<div class="container mx-auto py-32 space-y-6">
			<h1 class="text-display-small md:text-display-medium xl:text-display-large font-serif font-medium text-vulcan dark:text-haze">
				Thomas<br />Mitchelmore
			</h1>
			<p class="max-w-[700px]">
				Student at the <em>University of Southampton</em> (MEng Computer Science) and software engineer at <em>Iceline Hosting</em>.
			</p>
		</div>
	</section>
</BaseLayout>
