---
import getPosts from '@util/devto/articles'
import Thumbnail from '@components/blog/Thumbnail.astro'

const data = await getPosts()
---

<div
  class="grid gap-8 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 items-stretch"
>
  {data.map((post) => <Thumbnail article={post} />)}
</div>
