---
import GlobalLayout from '@layouts/global.astro'
import NavBar from '@components/navigation/NavBar'
---

<GlobalLayout>
  <NavBar client:load />
  <main>
    <slot />
  </main>
  <!-- FOOTER -->
</GlobalLayout>
