---
import Typography from '@components/Typography'
import BaseLayout from '@layouts/base.astro'
import { Icon } from 'astro-icon'
import bg1 from '@assets/bg1.svg'
import Thumbnail from '@components/projects/Thumbnail.astro'
import { getProjects } from '@util/content/project'

export interface Props {
  projectId: string
}

const { projectId } = Astro.props
const projects = (await getProjects())
  .filter((project) => project.sys.id !== projectId)
  .slice(0, 2)
---

<BaseLayout>
  <div class="relative">
    <img src={bg1} alt="" class="absolute top-0 right-0 z-[-1]" />
    <div class="pt-32 max-w-3xl 2xl:max-w-5xl px-8 mx-auto">
      <div class="flex justify-between items-center mb-8">
        <a href="/projects" class="hover:underline">
          <Typography
            variant="caption"
            tag="span"
            class="flex items-center text-vulcan/60 dark:text-haze/60"
          >
            <Icon name="ri:arrow-left-line" size={16} class="mr-1" />
            Back to projects</Typography
          >
        </a>
      </div>
      <slot />
      <div
        class="pt-16 pb-32 border-t border-vulcan/10 dark:border-haze/10 space-y-8"
      >
        <Typography variant="heading">More to read</Typography>
        <div class="grid gap-8 xl:grid-cols-2 items-stretch">
          {projects.map((project) => <Thumbnail project={project} />)}
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
