@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {font-size: 100%;}

  body {
    @apply font-sans font-normal;
  }
}

@layer utilities {
  .clip-divider {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }
  .clip-haze {
    clip-path: polygon(0 100%, 0 70%, 100% 0, 100% 100%);
  }
  .gradient-text {
    @apply bg-text-gradient;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-accent-text {
    @apply bg-accent-gradient text-accent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}